In [2]:
import numpy as np
import pandas as pd

In [5]:
books = pd.read_csv("BX-Books.csv",sep=";",encoding='latin-1',on_bad_lines='skip')

In [6]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [9]:
books[['ISBN','Book-Title','Book-Author','Year-Of-Publication','Publisher']]

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company
...,...,...,...,...,...
61048,0862412285,"The Changeling (Canongate Classics, Vol 22)",Robin Jenkins,1989,Canongate Books
61049,0140028374,The Highland clearances,John Prebble,1969,Penguin
61050,0413163806,Murder in the English Department,V. Miner,1988,Mandarin
61051,0786884320,Necessary Journeys : Letting Ourselves Learn F...,Nancy L. Snyderman,2001,Hyperion
61052,0930753054,Stupid Stories,Bob Leonard,1988,Spectacle Lane Press

In [11]:
books.rename(columns={'Book-Title':'title','Book-Author':'author','Year-Of-Publication':'year',"Publisher":'publish'},inplace=True)

,ISBN,title,author,year,publish,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
61048,0862412285,"The Changeling (Canongate Classics, Vol 22)",Robin Jenkins,1989,Canongate Books,http://images.amazon.com/images/P/0862412285.0...,http://images.amazon.com/images/P/0862412285.0...,http://images.amazon.com/images/P/0862412285.0...
61049,0140028374,The Highland clearances,John Prebble,1969,Penguin,http://images.amazon.com/images/P/0140028374.0...,http://images.amazon.com/images/P/0140028374.0...,http://images.amazon.com/images/P/0140028374.0...
61050,0413163806,Murder in the English Department,V. Miner,1988,Mandarin,http://images.amazon.com/images/P/0413163806.0...,http://images.amazon.com/images/P/0413163806.0...,http://images.amazon.com/images/P/0413163806.0...
61051,0786884320,Necessary Journeys : Letting Ourselves Learn F...,Nancy L. Snyderman,2001,Hyperion,http://images.amazon.com/images/P/0786884320.0...,http://images.amazon.com/images/P/0786884320.0...,http://images.amazon.com/images/P/0786884320.0...
61052,0930753054,Stupid Stories,Bob Leonard,1988,Spectacle Lane Press,http://images.amazon.com/images/P/0930753054.0...,http://images.amazon.com/images/P/0930753054.0...,http://images.amazon.com/images/P/0930753054.0...

In [12]:
users = pd.read_csv('BX-Users.csv',sep=';',on_bad_lines='skip',encoding='latin-1')

In [13]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [14]:
users.rename(columns={'User-ID':'user_id','Location':'location','Age':'age'},inplace=True)

In [16]:
ratings = pd.read_csv('BX-Book-Ratings.csv',sep=';',on_bad_lines='skip',encoding='latin-1')

In [17]:
ratings.head(2)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5

In [18]:
ratings.rename(columns={"User-ID":'user_id','Book-Rating':'rating'},inplace=True)

In [19]:
ratings.head()

   user_id        ISBN  rating
0   276725  034545104X       0
1   276726  0155061224       5
2   276727  0446520802       0
3   276729  052165615X       3
4   276729  0521795028       6

In [26]:
x=ratings['user_id'].value_counts() > 200

In [30]:
y = x[x].shape

In [31]:
ratings = ratings[ratings['user_id'].isin(y)]

In [32]:
ratings.shape

(12, 3)

In [33]:
ratings_with_books = ratings.merge(books,on='ISBN')

In [37]:
ratings_with_books

,user_id,ISBN,rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,899,0971880107,2,Wild Animus,Rich Shapero,2004,Too Far,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...
1,899,3257061269,9,Der Alchimist.,Paulo Coelho,2003,"Diogenes Verlag, Zï¿½?Â¼rich",http://images.amazon.com/images/P/3257061269.0...,http://images.amazon.com/images/P/3257061269.0...,http://images.amazon.com/images/P/3257061269.0...
2,899,3404126661,0,"Suche Hose, biete Rock.",Annegrit Arens,1997,Lï¿½?Â¼bbe,http://images.amazon.com/images/P/3404126661.0...,http://images.amazon.com/images/P/3404126661.0...,http://images.amazon.com/images/P/3404126661.0...
3,899,3453088433,4,Das Druidentor.,Wolfgang Hohlbein,2002,Heyne,http://images.amazon.com/images/P/3453088433.0...,http://images.amazon.com/images/P/3453088433.0...,http://images.amazon.com/images/P/3453088433.0...
4,899,3453177622,0,Zeit im Wind.,Nicholas Sparks,2000,Heyne,http://images.amazon.com/images/P/3453177622.0...,http://images.amazon.com/images/P/3453177622.0...,http://images.amazon.com/images/P/3453177622.0...
5,899,3453199766,8,Vielleicht lieber morgen.,Stephen Chbosky,2001,Heyne,http://images.amazon.com/images/P/3453199766.0...,http://images.amazon.com/images/P/3453199766.0...,http://images.amazon.com/images/P/3453199766.0...
6,899,3453210999,0,Das Lied der alten Steine.,Barbara Erskine,2002,Heyne,http://images.amazon.com/images/P/3453210999.0...,http://images.amazon.com/images/P/3453210999.0...,http://images.amazon.com/images/P/3453210999.0...
7,899,3453863593,0,Shadowrun. Deutschland in den Schatten.,Hans Joachim Alpers,2003,Heyne,http://images.amazon.com/images/P/3453863593.0...,http://images.amazon.com/images/P/3453863593.0...,http://images.amazon.com/images/P/3453863593.0...
8,899,3499108518,0,Der Fanger Im Roggen,Jerome D. Salinger,1966,Rowohlt Tb.,http://images.amazon.com/images/P/3499108518.0...,http://images.amazon.com/images/P/3499108518.0...,http://images.amazon.com/images/P/3499108518.0...
9,899,3518367064,0,Demian. Die Geschichte von Emil Sinclairs Jugend.,Hermann Hesse,1974,Suhrkamp,http://images.amazon.com/images/P/3518367064.0...,http://images.amazon.com/images/P/3518367064.0...,http://images.amazon.com/images/P/3518367064.0...
10,899,3746670144,7,"Ich, Prinzessin Viola: Ein altes Haus und sein...",Claudia von Zglinicki,1995,Aufbau Taschenbuch Verlag,http://images.amazon.com/images/P/3746670144.0...,http://images.amazon.com/images/P/3746670144.0...,http://images.amazon.com/images/P/3746670144.0...

In [36]:
number_rating = ratings_with_books.groupby('title')['rating'].count().reset_index()

KeyError: 'title'

In [ ]:
number_rating.rename(columns={'rating':'number of rating'},inplace=True)

In [38]:
number_rating

NameError: name 'number_rating' is not defined

In [ ]:
final_rating = ratings_with_books.merge(number_rating,on='title')

In [ ]:
final_rating = final_rating[final_rating['number of rating']>=50]

In [ ]:
final_rating.drop_duplicates(['user_id','title'],inplace=True)

In [ ]:
book_pivot= final_rating.pivot_table(columns='user_id',index='title',values='rating')

In [1]:
book_pivot.fillna(0,inplace=True)

NameError: name 'book_pivot' is not defined

In [2]:
from scipy.sparse import csr_matrix
book_sparse = csr_matrix(book_pivot)

NameError: name 'book_pivot' is not defined

In [ ]:
type(book_sparse)

In [ ]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm='brute')

In [ ]:
from sklearn.neighbors import NearestNeighbors
n_neighbors = NearestNeighbors(algorithm='brute')

In [ ]:
model.fit(book_sparse)

In [ ]:
book_pivot.index==237

In [ ]:
distance,suggestion = model.kneighbors(book_pivot.iloc[237,:].values.reshape(1,-1),n_neighbors=6)

In [ ]:
for i in range(len(suggestion)):
    print(book_pivot.index[suggestion[i]])

In [ ]:
np.where(book_pivot.index == 'Animal Farm')[0][0]

In [ ]:
def recommend_book(book_name):
    book_id=np.where(book_pivot.index==book_name)[0][0]
    distances , suggestions = model.kneighbors(book_pivot.iloc[book_id,:]).values.reshape

    for i in range(len(suggestions)):
        if i == 0:
            print("The suggestion for",book_name,"are :")
        if not i:
            print(book_pivot.index[suggestions[i]])